*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-head{
    background-color: rgb(21, 200, 21);
    color: white;
    padding: 5px 125px;
    /* width: 100%;
    height: 28px; */
    display: flex;
    justify-content: space-between;
    
}

/* .top-head .left{
    float: left;
}

.top-head .right{
    float: right;
} */

.top-head p{
   display: inline;

}

.top-head a{
    color: rgb(139, 216, 139);
}

/* Header section css start*/
header{
    background-color: rgb(19, 159, 19);
    width: 100%;
    height: 90px;
    padding: 0px 125px;
    /* display: flex;
    align-items: center; */
    line-height: 90px;
   
}

header h1, header h4{
    display: inline;
    color: #fff;
    
}
/* Header sectin css end */

/* NAV SECTION START */
nav{
    background-color: rgb(37, 184, 37);
    width: 100%;
    padding: 5px 125px;
}

nav ul li{
    list-style: none;
    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    font-weight: 700;
    margin-right: 30px;
    color: black;
}
/* NAV SECTION END */

.main{
    padding: 5px 125px;
    display: flex;
    justify-content: space-between;
}

.main article{
    padding: 10px 20px 10px 0px;
}

.main article p{
    padding: 5px 0px;
    text-align: justify;
}

.main article p a{
    text-decoration: none;
    color: rgb(22, 169, 22);
}

aside{
    background: silver;
    padding: 10px 50px 10px 50px;
}

aside h3{
    padding-top: 10px;
}
aside ul li{
    list-style: none;
    padding-left: 20px;
}

footer{
    background: green;
    color: #fff;
    width: 100%;
    height: 125px;
    padding: 10px 125px;
}

footer .first{
    float: left;
    margin-right: 100px;
}

footer .second{
    float: left;
}

footer .third{
    float: right;
}